{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div >{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    <div class="box">

        <form method="POST" action="/restaurant/signup/">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                </div>
            </div>
            {% comment %} <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" >
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password1" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password2" placeholder="Confirm Password">
                </div>
            </div> {% endcomment %}

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button> 
        </form>

        {% block errors %}
            {% if errors %}
                {% for error in errors %}
                    <div >{{ error }}</div>
                {% endfor %}
            {% endif %}
        {% endblock %}

        <br>
        {% if not current_user.is_authenticated %}
            <a href="{% url 'login' %}" > already have an account? 
                Login
            </a>
        {% endif %}

    </div>
</div>
{% endblock %}