{% extends "main.html" %}


{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add to Menu</h3>

    <div class="box">

        <form method="POST" action="{% url "add" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add</button> 
        </form>
        <form method="GET" action="{% url "updel" %}">
            <button class="button is-block is-info is-large is-fullwidth">Edit</button> 
        </form>
    </div>
</div>
{% endblock %}