{% extends "main.html" %}

{% block style%}
  <style>
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      }

      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      /* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
  </style>
{% endblock %}

{% block content %}
  <div class="box">
    <div class="field">

          <strong>{{ name }}'s Menu</strong>
        
    </div>
  </div>
  <div class="box">
    <div class="field">
      <div class="columns">
        <div class="column">ID</div>
        <div class="column">Name</div>
        <div class="column">Price</div>
        <div class="column">Categories</div>
        <div class="column is-two-fifths">Details</div>
        <div class="column">Image</div>
      </div>
      {% for result in results %}
      <div class="columns">
        <div class="column">{{ forloop.counter }}</div>
        <div class="column">{{result.name}}</div>
        <div class="column">{{result.price}}</div>
        <div class="column">{{result.categories}}</div>
        <div class="column is-two-fifths">{{result.details}}</div>
        <div class="column"><img src="{{result.image.url}}" class="imglink"></img></div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div></div>
  </div>
  
  <script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName("imglink");
    {% comment %} console.log(img); {% endcomment %}
    var modalImg = document.getElementById("img01");
    for(let x in img) {
      img[x].onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
    }
  }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>

  <div class="box">
    <div class="field">

          {% if  current_user.is_authenticated %}
            <a href="{% url 'add' %}" >
                Add to menu
            </a>
        {% endif %}
        
    </div>
  </div>
{% endblock %}